<!doctype html>
<html lang="ko">
<head>

    <!-- Webpage Title -->
    <title>로그인 | 넷플릭스 납량특집</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <style>
        body {
            min-height: 100vh;
            background-image: url("https://i.pinimg.com/474x/15/75/4a/15754a0694a5d7f56856c38ebeba441a.jpg");
            background-size: cover;
        }

        .section {
            padding: 1rem 1.5rem;
            max-width: 750px;
            margin: auto;
        }

        .title {
            color: red;
            font-weight: 800;
            font-size: 5rem;
        }

        .label {
            color:blue;
        }
    </style>
    <script>
        {% if msg %}
            alert("{{ msg }}")
        {% endif %}

        function login() {
            $.ajax({
                type: "POST",
                url: "/login",
                data: {id_give: $('#userid').val(), pw_give: $('#userpw').val()},
                success: function (response) {
                    if (response['result'] == 'success') {
                        // 로그인이 정상적으로 되면, 토큰을 받아옵니다.
                        // 이 토큰을 mytoken이라는 키 값으로 쿠키에 저장합니다.
                        $.cookie('mytoken', response['token']);

                        alert('로그인 완료!')
                        window.location.href = '/'
                    } else {
                        // 로그인이 안되면 에러메시지를 띄웁니다.
                        alert(response['msg'])
                    }
                }
            })
        }

    </script>

</head>
<body>
<div class="section has-text-centered">
    <h1 class="title">로그인 페이지</h1>
    <div class="container" style="width:60%">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="userid">ID</label>
            </div>

            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input type="text" class="input" id="userid" aria-describedby="emailHelp"
                               placeholder="My ID">
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="userpw">PW</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input type="password" class="input" id="userpw" placeholder="My Password">
                    </div>
                </div>
            </div>
        </div>
        <button class="button is-primary" onclick="login()">로그인</button>
        <a href="/register">회원가입</a>
    </div>
</div>
</body>
</html>